# Arquivos do jogo
*.iwd
*.ff
*.log
*.cache

# Arquivos compactados
*.rar
*.zip
*.7z

# Arquivos do Plutonium
*.dat
*.tmp

# Arquivos do sistema
Thumbs.db
Desktop.ini
.DS_Store
imgui.ini

# Pastas de dados do jogo (não incluir no repositório)
/backup_originals/
/demos/
/players/
/plutonium/
/main/
/scratch/
/zone_dump/
/zone/
/lms/
/reveja/
/scripts_disabled/
raw/backup_jun6/

# Cache de tradução
translation_cache.json
